course_3_sagemaker-deployment/data/aclImdb/
course_3_sagemaker-deployment/data/aclImdn.tar.gz
course_4_ML_sagemaker_studies/Payment_Fraud_Detection/creditcard.csv
course_4_ML_sagemaker_studies/Payment_Fraud_Detection/creditcardfraud.zip
course_4_ML_sagemaker_studies/Time_Series_Forecasting/json_energy_data
course_4_ML_sagemaker_studies/Time_Series_Forecasting/household-electric-power-consumption.zip
course_4_ML_sagemaker_studies/Time_Series_Forecasting/household_power_consumption.txt
